package layouts

import "github.com/vague2k/blkhell/views/components"
import "github.com/vague2k/blkhell/server/database"

templ BaseSidebarLayout(user *database.User, content templ.Component) {
	@BaseLayout() {
		@components.Sidebar(user) {
			@content
		}
	}
}
