package layouts

import "github.com/vague2k/blkhell/views/templui/input"
import "github.com/vague2k/blkhell/views/templui/toast"
import "github.com/vague2k/blkhell/views/templui/sidebar"
import "github.com/vague2k/blkhell/views/templui/dialog"
import "github.com/vague2k/blkhell/views/templui/popover"
import "github.com/vague2k/blkhell/views/templui/collapsible"
import "github.com/vague2k/blkhell/views/templui/dropdown"
import "github.com/vague2k/blkhell/views/templui/progress"

templ BaseLayout() {
	<!DOCTYPE html>
	<html lang="en" class="h-full dark">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>templUI App</title>
			<link href="/assets/css/output.css" rel="stylesheet"/>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
			@input.Script()
			@toast.Script()
			@sidebar.Script()
			@dialog.Script()
			@popover.Script()
			@collapsible.Script()
			@dropdown.Script()
			@progress.Script()
			@dialog.Script()
		</head>
		<body class="h-full">
			<div class="h-full flex flex-col">
				<main class="flex-1">
					{ children... }
				</main>
			</div>
		</body>
	</html>
}
