package layouts

import "github.com/vague2k/blkhell/views/components"
import "github.com/vague2k/blkhell/server/database"

templ BaseSidebarLayout(user *database.User) {
	@BaseLayout() {
		@components.Sidebar(user) {
			{ children... }
		}
	}
}
